.about-text {
    padding-top: 25px;
}

.career {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px 16px;
    align-items: start;

    p {
        font-size: 12px;
    }
}

.career-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.career-type {
    justify-self: end;
    align-self: center;
    color: var(--color-button-text);
    background-color: var(--color-button-success);
    border-radius: 25px;
    font-size: 10px;
    padding: 4px 10px;
    border: 0px;
}

.career hr {
    margin-top: 10px;
    grid-column: 1 / -1;
    width: 100%;
}

