/* Mobile styles */
address,
.title-address,
.title-address-desktop {
  font-style: normal;
  text-align: center;
}

.address-mobile {
  display: block;
}

.address-mobile a {
  display: block;
  font-size: 18px;
}

.address-desktop {
  display: none;
}

.hero-title {
  display: none;
}

.title-address {
  margin: 90px 0px 15px;
  font-size: 18px;
}

.gradient {
  background: var(--gradient-heading);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;
  overflow-wrap: anywhere;
}

/* desktop */
@media (min-width: 1270px) {
  .address-mobile {
    display: none;
  }

  .address-desktop {
    display: block;
  }

  .hero-title {
    display: block;
    text-align: center;
  }

  .gradient {
    margin-top: 0;
  }
}
