/* Mobile styles */
.mobile {
  display: block;
}

.desktop {
  display: none;
}

p {
  padding: 10px 0px 25px 0px;
}

h2 {
  padding-bottom: 25px;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 35px;

  img {
    width: 100%;
    max-width: 110px;
  }
}

/* desktop */
@media (min-width: 1024px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .desktop-title {
    padding-top: var(--desktop-padding-nav-to-title);
  }

  .tech-grid {
    grid-template-columns: repeat(5, 1fr);
    padding-top: var(--desktop-padding-nav-to-title);
  }
}
